[submodule "Flughóur/Flight-Search-Hopur-7F-2018"]
	path = Flughóur/Flight-Search-Hopur-7F-2018
	url = https://github.com/goh12/Flight-Search-Hopur-7F-2018
[submodule "Flughópur/fauxflightdb"]
	path = Flughópur/fauxflightdb
	url = https://github.com/frg17/fauxflightdb
